.main_container {
    min-height: 70vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main_container div {
    margin: 1em;
}

.main_container h5 {
    color: cornflowerblue;
}

.main_container svg {
    color: rgb(10, 44, 148);
}




