.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: whitesmoke;
    background-color: rgb(12, 1, 23);
    margin: 0 auto;
  }

  .nav li {
    display: inline;
    margin: 1em 1.2em;
    list-style: none;
  }

  .nav a {
    color: #fff;
    text-decoration: none;
    transition: 1s;
  }

  .nav a:hover {
    border-bottom: 5px solid #fff;
  }

  .side_bar_left {
    background-color: cornflowerblue;
    min-width:250px
  }

  
  