  .user_client li{
    list-style: none;
  }
  .user_client li {
    list-style: none;
    color: chocolate;
  }

  .flex_outer,
  .flex_inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex_outer {
    max-width:800px;
    margin: 0 auto;
  }
  
  .flex_outer li,
  .flex_inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex_inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .flex_outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex_outer li label,
  .flex_outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
  }
  
  .flex_outer > li > label,
  .flex_outer li p {
    flex: 120 0 120px;
    max-width: 220px;
  }
  
  .flex_outer > li > label + *,
  .flex_inner {
    flex: 1 0 220px;
  }
  
  .flex_outer li p {
    margin: 0;
  }
  
  .flex_outer li input:not([type='checkbox']),
  .flex_outer li textarea {
    padding: 15px;
    border: none;
  }
  
  .flex_outer li button {
    margin-left:10px;
    padding: 8px 16px;
    border: none;
    background: rgb(30, 115, 176);
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }
  
  .flex_inner li {
    width: 250px;
  }